.hero {
  background-image: url("../public/hero-banner.png");
  height: 35vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.heroHome {
  justify-content: flex-end;
}

.heroProject {
  justify-content: space-between;
}

.back {
  margin: 10px;
  font-size: 2rem;
  color: white;
}

.title {
  margin: 10px;
  font-size: 3rem;
  color: white;
  text-align: end;
}
